In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('E:\PW skills\Data Toolkit\Converted_Results.xlsx')

<>:1: SyntaxWarning: invalid escape sequence '\P'
<>:1: SyntaxWarning: invalid escape sequence '\P'
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_18780\2618156870.py:1: SyntaxWarning: invalid escape sequence '\P'
  df = pd.read_excel('E:\PW skills\Data Toolkit\Converted_Results.xlsx')

In [3]:
df

,rollNo,name,merit,department
0,50002,MD. SADIQUR RAHMAN,315,Electrical & Electronic Engineering
1,50023,MD. AQUIB AZMAL,15,Electrical & Electronic Engineering
2,50042,FARHAN BIN HASAN,251,Computer Science & Engineering
3,50049,MD. MOSTAK NADIM,915,Chemical Engineering
4,50051,SHAMILA WAFIQA HAQUE,17,Electrical & Electronic Engineering
...,...,...,...,...
1243,90977,ABONTIKA MONDAL ARTHI,1102,Materials & Metallurgical Engineering
1244,90980,KASHFI BEENTE ABDULLAH,758,Civil Engineering
1245,90987,PROGGYAN MALLICK SHIRSHO,955,Chemical Engineering
1246,90989,ABDUHU RUHUL BASHIR,798,Chemical Engineering
1247,90990,MD. TASHFIQUL ISLAM RAJIN,1050,Materials & Metallurgical Engineering

In [4]:
df['department']=='Computer Science & Engineering'

0       False
1       False
2        True
3       False
4       False
        ...
1243    False
1244    False
1245    False
1246    False
1247    False
Name: department, Length: 1248, dtype: bool

In [6]:
df[df['department']=='Computer Science & Engineering'].name

2            FARHAN BIN HASAN
6              SHAFQAT NAVEED
8            MD. AHSANUL DAUD
17                 ERIN JAHAN
22              JOYEETA MITRA
                ...
1193    MUHAMMAD NAZMUS SAQIB
1199    ARIJET SARDAR SWAPNIL
1210        ARSHIA ARMIN JHIL
1229       MD. SHAHRIAR SIFAT
1235              ARIBA IBNAT
Name: name, Length: 181, dtype: object

In [15]:
result = df[df['department']=='Computer Science & Engineering'].reset_index(drop=True)
result=result.sort_values(by='merit')

result.insert(0, 'Serial.No', range(1, len(result) + 1))

In [16]:
result

,Serial.No,rollNo,name,merit,department
93,1,54821,MD. RADHWAN RIDVI AKIF,1,Computer Science & Engineering
165,2,59178,ADIB AL-MUKSIT,2,Computer Science & Engineering
102,3,55435,ANANTO SHAHRIAR TALUKDAR,3,Computer Science & Engineering
99,4,55228,SHADMAN SHAHAB,4,Computer Science & Engineering
11,5,50508,S. M. AFIF IQBAL,5,Computer Science & Engineering
...,...,...,...,...,...
39,177,52150,S. M. ZARIF FAIYAZ,384,Computer Science & Engineering
7,178,50272,MD. JAHIDUL ISLAM JIHAD,385,Computer Science & Engineering
32,179,51906,MD.ABIDUR RAHMAN,386,Computer Science & Engineering
43,180,52293,MD. AZIZUL ISLAM TALHA,389,Computer Science & Engineering
163,181,59093,ADITYA SINGHA,508,Computer Science & Engineering

In [17]:
result.to_excel('E:\PW skills\Data Toolkit\CSE_Department_Results.xlsx', index=False)

<>:1: SyntaxWarning: invalid escape sequence '\P'
<>:1: SyntaxWarning: invalid escape sequence '\P'
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_18780\500668669.py:1: SyntaxWarning: invalid escape sequence '\P'
  result.to_excel('E:\PW skills\Data Toolkit\CSE_Department_Results.xlsx', index=False)

In [19]:
result[result['Serial.No']==84].name

28    PRAMIT BISWAS
Name: name, dtype: object

In [21]:
result.to_excel(r'E:\PW skills\Data Toolkit\CSE_Department_Results.xlsx', index=False)