In [68]:
import pandas as pd
df=pd.read_csv("https://raw.githubusercontent.com/pandas-dev/pandas/master/doc/data/titanic.csv",header=None)

In [69]:
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11
0,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.25,NaN,S
2,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,71.2833,C85,C
3,3,1,3,"Heikkinen, Miss Laina",female,26,0,0,STON/O2. 3101282,7.925,NaN,S
4,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1,C123,S

In [70]:
df[0:100]

,0,1,2,3,4,5,6,7,8,9,10,11
0,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.25,NaN,S
2,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,71.2833,C85,C
3,3,1,3,"Heikkinen, Miss Laina",female,26,0,0,STON/O2. 3101282,7.925,NaN,S
4,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1,C123,S
...,...,...,...,...,...,...,...,...,...,...,...,...
95,95,0,3,"Coxon, Mr. Daniel",male,59,0,0,364500,7.25,NaN,S
96,96,0,3,"Shorney, Mr. Charles Joseph",male,NaN,0,0,374910,8.05,NaN,S
97,97,0,1,"Goldschmidt, Mr. George B",male,71,0,0,PC 17754,34.6542,A5,C
98,98,1,1,"Greenfield, Mr. William Bertram",male,23,0,1,PC 17759,63.3583,D10 D12,C
99,99,1,2,"Doling, Mrs. John T (Ada Julia Bone)",female,34,0,1,231919,23,NaN,S

In [71]:
df[0:100:2]

,0,1,2,3,4,5,6,7,8,9,10,11
0,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
2,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,71.2833,C85,C
4,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1,C123,S
6,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
8,8,0,3,"Palsson, Master Gosta Leonard",male,2,3,1,349909,21.075,NaN,S
10,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14,1,0,237736,30.0708,NaN,C
12,12,1,1,"Bonnell, Miss Elizabeth",female,58,0,0,113783,26.55,C103,S
14,14,0,3,"Andersson, Mr. Anders Johan",male,39,1,5,347082,31.275,NaN,S
16,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55,0,0,248706,16,NaN,S
18,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13,NaN,S
20,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.225,NaN,C
22,22,1,2,"Beesley, Mr. Lawrence",male,34,0,0,248698,13,D56,S
24,24,1,1,"Sloper, Mr. William Thompson",male,28,0,0,113788,35.5,A6,S
26,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38,1,5,347077,31.3875,NaN,S
28,28,0,1,"Fortune, Mr. Charles Alexander",male,19,3,2,19950,263,C23 C25 C27,S
30,30,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S
32,32,1,1,"Spencer, Mrs. William Augustus (Marie Eugenie)",female,NaN,1,0,PC 17569,146.5208,B78,C
34,34,0,2,"Wheadon, Mr. Edward H",male,66,0,0,C.A. 24579,10.5,NaN,S
36,36,0,1,"Holverson, Mr. Alexander Oskar",male,42,1,0,113789,52,NaN,S
38,38,0,3,"Cann, Mr. Ernest Charles",male,21,0,0,A./5. 2152,8.05,NaN,S
40,40,1,3,"Nicola-Yarred, Miss Jamila",female,14,1,0,2651,11.2417,NaN,C
42,42,0,2,"Turpin, Mrs. William John Robert (Dorothy Ann ...",female,27,1,0,11668,21,NaN,S
44,44,1,2,"Laroche, Miss Simonne Marie Anne Andree",female,3,1,2,SC/Paris 2123,41.5792,NaN,C
46,46,0,3,"Rogers, Mr. William John",male,NaN,0,0,S.C./A.4. 23567,8.05,NaN,S
48,48,1,3,"O'Driscoll, Miss Bridget",female,NaN,0,0,14311,7.75,NaN,Q
50,50,0,3,"Arnold-Franchi, Mrs. Josef (Josefine Franchi)",female,18,1,0,349237,17.8,NaN,S
52,52,0,3,"Nosworthy, Mr. Richard Cater",male,21,0,0,A/4. 39886,7.8,NaN,S
54,54,1,2,"Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkin...",female,29,1,0,2926,26,NaN,S
56,56,1,1,"Woolner, Mr. Hugh",male,NaN,0,0,19947,35.5,C52,S
58,58,0,3,"Novel, Mr. Mansouer",male,28.5,0,0,2697,7.2292,NaN,C
60,60,0,3,"Goodwin, Master William Frederick",male,11,5,2,CA 2144,46.9,NaN,S
62,62,1,1,"Icard, Miss Amelie",female,38,0,0,113572,80,B28,NaN
64,64,0,3,"Skoog, Master Harald",male,4,3,2,347088,27.9,NaN,S
66,66,1,3,"Moubarek, Master Gerios",male,NaN,1,1,2661,15.2458,NaN,C
68,68,0,3,"Crease, Mr. Ernest James",male,19,0,0,S.P. 3464,8.1583,NaN,S
70,70,0,3,"Kink, Mr. Vincenz",male,26,2,0,315151,8.6625,NaN,S
72,72,0,3,"Goodwin, Miss Lillian Amy",female,16,5,2,CA 2144,46.9,NaN,S
74,74,0,3,"Chronopoulos, Mr. Apostolos",male,26,1,0,2680,14.4542,NaN,C
76,76,0,3,"Moen, Mr. Sigurd Hansen",male,25,0,0,348123,7.65,F G73,S
78,78,0,3,"Moutal, Mr. Rahamin Haim",male,NaN,0,0,374746,8.05,NaN,S
80,80,1,3,"Dowdell, Miss Elizabeth",female,30,0,0,364516,12.475,NaN,S
82,82,1,3,"Sheerlinck, Mr. Jan Baptist",male,29,0,0,345779,9.5,NaN,S
84,84,0,1,"Carrau, Mr. Francisco M",male,28,0,0,113059,47.1,NaN,S
86,86,1,3,"Backstrom, Mrs. Karl Alfred (Maria Mathilda Gu...",female,33,3,0,3101278,15.85,NaN,S
88,88,0,3,"Slocovski, Mr. Selman Francis",male,NaN,0,0,SOTON/OQ 392086,8.05,NaN,S
90,90,0,3,"Celotti, Mr. Francesco",male,24,0,0,343275,8.05,NaN,S
92,92,0,3,"Andreasson, Mr. Paul Edvin",male,20,0,0,347466,7.8542,NaN,S
94,94,0,3,"Dean, Mr. Bertram Frank",male,26,1,2,C.A. 2315,20.575,NaN,S
96,96,0,3,"Shorney, Mr. Charles Joseph",male,NaN,0,0,374910,8.05,NaN,S
98,98,1,1,"Greenfield, Mr. William Bertram",male,23,0,1,PC 17759,63.3583,D10 D12,C

In [72]:
#implicit indexing(iloc) and explicit indexing(loc)
df.iloc[0:100:2]

,0,1,2,3,4,5,6,7,8,9,10,11
0,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
2,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,71.2833,C85,C
4,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1,C123,S
6,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
8,8,0,3,"Palsson, Master Gosta Leonard",male,2,3,1,349909,21.075,NaN,S
10,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14,1,0,237736,30.0708,NaN,C
12,12,1,1,"Bonnell, Miss Elizabeth",female,58,0,0,113783,26.55,C103,S
14,14,0,3,"Andersson, Mr. Anders Johan",male,39,1,5,347082,31.275,NaN,S
16,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55,0,0,248706,16,NaN,S
18,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13,NaN,S
20,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.225,NaN,C
22,22,1,2,"Beesley, Mr. Lawrence",male,34,0,0,248698,13,D56,S
24,24,1,1,"Sloper, Mr. William Thompson",male,28,0,0,113788,35.5,A6,S
26,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38,1,5,347077,31.3875,NaN,S
28,28,0,1,"Fortune, Mr. Charles Alexander",male,19,3,2,19950,263,C23 C25 C27,S
30,30,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S
32,32,1,1,"Spencer, Mrs. William Augustus (Marie Eugenie)",female,NaN,1,0,PC 17569,146.5208,B78,C
34,34,0,2,"Wheadon, Mr. Edward H",male,66,0,0,C.A. 24579,10.5,NaN,S
36,36,0,1,"Holverson, Mr. Alexander Oskar",male,42,1,0,113789,52,NaN,S
38,38,0,3,"Cann, Mr. Ernest Charles",male,21,0,0,A./5. 2152,8.05,NaN,S
40,40,1,3,"Nicola-Yarred, Miss Jamila",female,14,1,0,2651,11.2417,NaN,C
42,42,0,2,"Turpin, Mrs. William John Robert (Dorothy Ann ...",female,27,1,0,11668,21,NaN,S
44,44,1,2,"Laroche, Miss Simonne Marie Anne Andree",female,3,1,2,SC/Paris 2123,41.5792,NaN,C
46,46,0,3,"Rogers, Mr. William John",male,NaN,0,0,S.C./A.4. 23567,8.05,NaN,S
48,48,1,3,"O'Driscoll, Miss Bridget",female,NaN,0,0,14311,7.75,NaN,Q
50,50,0,3,"Arnold-Franchi, Mrs. Josef (Josefine Franchi)",female,18,1,0,349237,17.8,NaN,S
52,52,0,3,"Nosworthy, Mr. Richard Cater",male,21,0,0,A/4. 39886,7.8,NaN,S
54,54,1,2,"Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkin...",female,29,1,0,2926,26,NaN,S
56,56,1,1,"Woolner, Mr. Hugh",male,NaN,0,0,19947,35.5,C52,S
58,58,0,3,"Novel, Mr. Mansouer",male,28.5,0,0,2697,7.2292,NaN,C
60,60,0,3,"Goodwin, Master William Frederick",male,11,5,2,CA 2144,46.9,NaN,S
62,62,1,1,"Icard, Miss Amelie",female,38,0,0,113572,80,B28,NaN
64,64,0,3,"Skoog, Master Harald",male,4,3,2,347088,27.9,NaN,S
66,66,1,3,"Moubarek, Master Gerios",male,NaN,1,1,2661,15.2458,NaN,C
68,68,0,3,"Crease, Mr. Ernest James",male,19,0,0,S.P. 3464,8.1583,NaN,S
70,70,0,3,"Kink, Mr. Vincenz",male,26,2,0,315151,8.6625,NaN,S
72,72,0,3,"Goodwin, Miss Lillian Amy",female,16,5,2,CA 2144,46.9,NaN,S
74,74,0,3,"Chronopoulos, Mr. Apostolos",male,26,1,0,2680,14.4542,NaN,C
76,76,0,3,"Moen, Mr. Sigurd Hansen",male,25,0,0,348123,7.65,F G73,S
78,78,0,3,"Moutal, Mr. Rahamin Haim",male,NaN,0,0,374746,8.05,NaN,S
80,80,1,3,"Dowdell, Miss Elizabeth",female,30,0,0,364516,12.475,NaN,S
82,82,1,3,"Sheerlinck, Mr. Jan Baptist",male,29,0,0,345779,9.5,NaN,S
84,84,0,1,"Carrau, Mr. Francisco M",male,28,0,0,113059,47.1,NaN,S
86,86,1,3,"Backstrom, Mrs. Karl Alfred (Maria Mathilda Gu...",female,33,3,0,3101278,15.85,NaN,S
88,88,0,3,"Slocovski, Mr. Selman Francis",male,NaN,0,0,SOTON/OQ 392086,8.05,NaN,S
90,90,0,3,"Celotti, Mr. Francesco",male,24,0,0,343275,8.05,NaN,S
92,92,0,3,"Andreasson, Mr. Paul Edvin",male,20,0,0,347466,7.8542,NaN,S
94,94,0,3,"Dean, Mr. Bertram Frank",male,26,1,2,C.A. 2315,20.575,NaN,S
96,96,0,3,"Shorney, Mr. Charles Joseph",male,NaN,0,0,374910,8.05,NaN,S
98,98,1,1,"Greenfield, Mr. William Bertram",male,23,0,1,PC 17759,63.3583,D10 D12,C

In [73]:
df.loc[0:100:2]

,0,1,2,3,4,5,6,7,8,9,10,11
0,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
2,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,71.2833,C85,C
4,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1,C123,S
6,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
8,8,0,3,"Palsson, Master Gosta Leonard",male,2,3,1,349909,21.075,NaN,S
10,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14,1,0,237736,30.0708,NaN,C
12,12,1,1,"Bonnell, Miss Elizabeth",female,58,0,0,113783,26.55,C103,S
14,14,0,3,"Andersson, Mr. Anders Johan",male,39,1,5,347082,31.275,NaN,S
16,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55,0,0,248706,16,NaN,S
18,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13,NaN,S
20,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.225,NaN,C
22,22,1,2,"Beesley, Mr. Lawrence",male,34,0,0,248698,13,D56,S
24,24,1,1,"Sloper, Mr. William Thompson",male,28,0,0,113788,35.5,A6,S
26,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38,1,5,347077,31.3875,NaN,S
28,28,0,1,"Fortune, Mr. Charles Alexander",male,19,3,2,19950,263,C23 C25 C27,S
30,30,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S
32,32,1,1,"Spencer, Mrs. William Augustus (Marie Eugenie)",female,NaN,1,0,PC 17569,146.5208,B78,C
34,34,0,2,"Wheadon, Mr. Edward H",male,66,0,0,C.A. 24579,10.5,NaN,S
36,36,0,1,"Holverson, Mr. Alexander Oskar",male,42,1,0,113789,52,NaN,S
38,38,0,3,"Cann, Mr. Ernest Charles",male,21,0,0,A./5. 2152,8.05,NaN,S
40,40,1,3,"Nicola-Yarred, Miss Jamila",female,14,1,0,2651,11.2417,NaN,C
42,42,0,2,"Turpin, Mrs. William John Robert (Dorothy Ann ...",female,27,1,0,11668,21,NaN,S
44,44,1,2,"Laroche, Miss Simonne Marie Anne Andree",female,3,1,2,SC/Paris 2123,41.5792,NaN,C
46,46,0,3,"Rogers, Mr. William John",male,NaN,0,0,S.C./A.4. 23567,8.05,NaN,S
48,48,1,3,"O'Driscoll, Miss Bridget",female,NaN,0,0,14311,7.75,NaN,Q
50,50,0,3,"Arnold-Franchi, Mrs. Josef (Josefine Franchi)",female,18,1,0,349237,17.8,NaN,S
52,52,0,3,"Nosworthy, Mr. Richard Cater",male,21,0,0,A/4. 39886,7.8,NaN,S
54,54,1,2,"Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkin...",female,29,1,0,2926,26,NaN,S
56,56,1,1,"Woolner, Mr. Hugh",male,NaN,0,0,19947,35.5,C52,S
58,58,0,3,"Novel, Mr. Mansouer",male,28.5,0,0,2697,7.2292,NaN,C
60,60,0,3,"Goodwin, Master William Frederick",male,11,5,2,CA 2144,46.9,NaN,S
62,62,1,1,"Icard, Miss Amelie",female,38,0,0,113572,80,B28,NaN
64,64,0,3,"Skoog, Master Harald",male,4,3,2,347088,27.9,NaN,S
66,66,1,3,"Moubarek, Master Gerios",male,NaN,1,1,2661,15.2458,NaN,C
68,68,0,3,"Crease, Mr. Ernest James",male,19,0,0,S.P. 3464,8.1583,NaN,S
70,70,0,3,"Kink, Mr. Vincenz",male,26,2,0,315151,8.6625,NaN,S
72,72,0,3,"Goodwin, Miss Lillian Amy",female,16,5,2,CA 2144,46.9,NaN,S
74,74,0,3,"Chronopoulos, Mr. Apostolos",male,26,1,0,2680,14.4542,NaN,C
76,76,0,3,"Moen, Mr. Sigurd Hansen",male,25,0,0,348123,7.65,F G73,S
78,78,0,3,"Moutal, Mr. Rahamin Haim",male,NaN,0,0,374746,8.05,NaN,S
80,80,1,3,"Dowdell, Miss Elizabeth",female,30,0,0,364516,12.475,NaN,S
82,82,1,3,"Sheerlinck, Mr. Jan Baptist",male,29,0,0,345779,9.5,NaN,S
84,84,0,1,"Carrau, Mr. Francisco M",male,28,0,0,113059,47.1,NaN,S
86,86,1,3,"Backstrom, Mrs. Karl Alfred (Maria Mathilda Gu...",female,33,3,0,3101278,15.85,NaN,S
88,88,0,3,"Slocovski, Mr. Selman Francis",male,NaN,0,0,SOTON/OQ 392086,8.05,NaN,S
90,90,0,3,"Celotti, Mr. Francesco",male,24,0,0,343275,8.05,NaN,S
92,92,0,3,"Andreasson, Mr. Paul Edvin",male,20,0,0,347466,7.8542,NaN,S
94,94,0,3,"Dean, Mr. Bertram Frank",male,26,1,2,C.A. 2315,20.575,NaN,S
96,96,0,3,"Shorney, Mr. Charles Joseph",male,NaN,0,0,374910,8.05,NaN,S
98,98,1,1,"Greenfield, Mr. William Bertram",male,23,0,1,PC 17759,63.3583,D10 D12,C
100,100,0,2,"Kantor, Mr. Sinai",male,34,1,0,244367,26,NaN,S

In [74]:
df[0:2,["Name","Age"]] #error

InvalidIndexError: (slice(0, 2, None), ['Name', 'Age'])

In [ ]:
df.loc[0:2, ["Name","Sex"]]

KeyError: "None of [Index(['Name', 'Sex'], dtype='object')] are in the [columns]"

In [ ]:
df.iloc[0:5, [3,4,5]]

                                                   3       4    5
0                                               Name     Sex  Age
1                            Braund, Mr. Owen Harris    male   22
2  Cumings, Mrs. John Bradley (Florence Briggs Th...  female   38
3                              Heikkinen, Miss Laina  female   26
4       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female   35

In [ ]:
df.iloc[0:3,3:5]

                                                   3       4
0                                               Name     Sex
1                            Braund, Mr. Owen Harris    male
2  Cumings, Mrs. John Bradley (Florence Briggs Th...  female

In [ ]:
df['Name'][2:5]

KeyError: 'Name'

In [ ]:
pd.Series(list(df['Name'][2:5]),index=['a','b','c'])

KeyError: 'Name'

In [ ]:
df

,0,1,2,3,4,5,6,7,8,9,10,11
0,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.25,NaN,S
2,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,71.2833,C85,C
3,3,1,3,"Heikkinen, Miss Laina",female,26,0,0,STON/O2. 3101282,7.925,NaN,S
4,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1,C123,S
...,...,...,...,...,...,...,...,...,...,...,...,...
887,887,0,2,"Montvila, Rev. Juozas",male,27,0,0,211536,13,NaN,S
888,888,1,1,"Graham, Miss Margaret Edith",female,19,0,0,112053,30,B42,S
889,889,0,3,"Johnston, Miss Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
890,890,1,1,"Behr, Mr. Karl Howell",male,26,0,0,111369,30,C148,C
891,891,0,3,"Dooley, Mr. Patrick",male,32,0,0,370376,7.75,NaN,Q

In [ ]:
df.drop('PassengerId',axis=1)

KeyError: "['PassengerId'] not found in axis"

In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv("https://raw.githubusercontent.com/pandas-dev/pandas/master/doc/data/titanic.csv")

In [ ]:
df.drop('PassengerId',axis=1,inplace=True)

In [ ]:
df=pd.read_csv("https://raw.githubusercontent.com/pandas-dev/pandas/master/doc/data/titanic.csv")

In [ ]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [ ]:
df.drop(1)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,3,1,3,"Heikkinen, Miss Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [ ]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [ ]:
df.set_index('Name',inplace=True)

In [ ]:
df

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
Name,,,,,,,,,,,
"Braund, Mr. Owen Harris",1,0,3,male,22.0,1,0,A/5 21171,7.2500,NaN,S
"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",2,1,1,female,38.0,1,0,PC 17599,71.2833,C85,C
"Heikkinen, Miss Laina",3,1,3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
"Futrelle, Mrs. Jacques Heath (Lily May Peel)",4,1,1,female,35.0,1,0,113803,53.1000,C123,S
"Allen, Mr. William Henry",5,0,3,male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
"Montvila, Rev. Juozas",887,0,2,male,27.0,0,0,211536,13.0000,NaN,S
"Graham, Miss Margaret Edith",888,1,1,female,19.0,0,0,112053,30.0000,B42,S
"Johnston, Miss Catherine Helen ""Carrie""",889,0,3,female,NaN,1,2,W./C. 6607,23.4500,NaN,S
"Behr, Mr. Karl Howell",890,1,1,male,26.0,0,0,111369,30.0000,C148,C
"Dooley, Mr. Patrick",891,0,3,male,32.0,0,0,370376,7.7500,NaN,Q

In [ ]:
df.loc['Dooley, Mr. Patrick']

PassengerId       891
Survived            0
Pclass              3
Sex              male
Age              32.0
SibSp               0
Parch               0
Ticket         370376
Fare             7.75
Cabin             NaN
Embarked            Q
Name: Dooley, Mr. Patrick, dtype: object

In [ ]:
df.reset_index()

,Name,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,"Braund, Mr. Owen Harris",1,0,3,male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",2,1,1,female,38.0,1,0,PC 17599,71.2833,C85,C
2,"Heikkinen, Miss Laina",3,1,3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",4,1,1,female,35.0,1,0,113803,53.1000,C123,S
4,"Allen, Mr. William Henry",5,0,3,male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,"Montvila, Rev. Juozas",887,0,2,male,27.0,0,0,211536,13.0000,NaN,S
887,"Graham, Miss Margaret Edith",888,1,1,female,19.0,0,0,112053,30.0000,B42,S
888,"Johnston, Miss Catherine Helen ""Carrie""",889,0,3,female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,"Behr, Mr. Karl Howell",890,1,1,male,26.0,0,0,111369,30.0000,C148,C
890,"Dooley, Mr. Patrick",891,0,3,male,32.0,0,0,370376,7.7500,NaN,Q

In [ ]:
d={'key1':[1,2,3,4],'key2':['a','b','c','d'],'key3':[10,20,30,40]}

In [ ]:
pd.DataFrame(d)

   key1 key2  key3
0     1    a    10
1     2    b    20
2     3    c    30
3     4    d    40

In [ ]:
df1=pd.read_csv("taxonomy.csv")

In [ ]:
df1

    taxonomy_id                          name parent_id           parent_name
0           101                     Emergency       NaN                   NaN
1        101-01             Disaster Response       101             Emergency
2        101-02                Emergency Cash       101             Emergency
3     101-02-01             Help Pay for Food    101-02        Emergency Cash
4     101-02-02       Help Pay for Healthcare    101-02        Emergency Cash
..          ...                           ...       ...                   ...
285   111-01-07              Workplace Rights    111-01  Advocacy & Legal Aid
286      111-02                     Mediation       111                 Legal
287      111-03                        Notary       111                 Legal
288      111-04                Representation       111                 Legal
289      111-05  Translation & Interpretation       111                 Legal

[290 rows x 4 columns]

In [ ]:
df1.shape

(290, 4)

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 290 entries, 0 to 289
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   taxonomy_id  290 non-null    object
 1   name         290 non-null    object
 2   parent_id    279 non-null    object
 3   parent_name  279 non-null    object
dtypes: object(4)
memory usage: 9.2+ KB

In [ ]:
df1.isnull().sum()

taxonomy_id     0
name            0
parent_id      11
parent_name    11
dtype: int64

In [ ]:
df1.shape

(290, 4)

In [ ]:
df1.dropna()

    taxonomy_id                          name parent_id           parent_name
1        101-01             Disaster Response       101             Emergency
2        101-02                Emergency Cash       101             Emergency
3     101-02-01             Help Pay for Food    101-02        Emergency Cash
4     101-02-02       Help Pay for Healthcare    101-02        Emergency Cash
5     101-02-03          Help Pay for Housing    101-02        Emergency Cash
..          ...                           ...       ...                   ...
285   111-01-07              Workplace Rights    111-01  Advocacy & Legal Aid
286      111-02                     Mediation       111                 Legal
287      111-03                        Notary       111                 Legal
288      111-04                Representation       111                 Legal
289      111-05  Translation & Interpretation       111                 Legal

[279 rows x 4 columns]

In [ ]:
df1.dropna(axis=1)

    taxonomy_id                          name
0           101                     Emergency
1        101-01             Disaster Response
2        101-02                Emergency Cash
3     101-02-01             Help Pay for Food
4     101-02-02       Help Pay for Healthcare
..          ...                           ...
285   111-01-07              Workplace Rights
286      111-02                     Mediation
287      111-03                        Notary
288      111-04                Representation
289      111-05  Translation & Interpretation

[290 rows x 2 columns]

In [ ]:
df1[['name']].dropna(axis=1)

                             name
0                       Emergency
1               Disaster Response
2                  Emergency Cash
3               Help Pay for Food
4         Help Pay for Healthcare
..                            ...
285              Workplace Rights
286                     Mediation
287                        Notary
288                Representation
289  Translation & Interpretation

[290 rows x 1 columns]

In [ ]:
df1.fillna("somevalue")

    taxonomy_id                          name  parent_id           parent_name
0           101                     Emergency  somevalue             somevalue
1        101-01             Disaster Response        101             Emergency
2        101-02                Emergency Cash        101             Emergency
3     101-02-01             Help Pay for Food     101-02        Emergency Cash
4     101-02-02       Help Pay for Healthcare     101-02        Emergency Cash
..          ...                           ...        ...                   ...
285   111-01-07              Workplace Rights     111-01  Advocacy & Legal Aid
286      111-02                     Mediation        111                 Legal
287      111-03                        Notary        111                 Legal
288      111-04                Representation        111                 Legal
289      111-05  Translation & Interpretation        111                 Legal

[290 rows x 4 columns]

In [ ]:
df1.fillna(1)

    taxonomy_id                          name parent_id           parent_name
0           101                     Emergency         1                     1
1        101-01             Disaster Response       101             Emergency
2        101-02                Emergency Cash       101             Emergency
3     101-02-01             Help Pay for Food    101-02        Emergency Cash
4     101-02-02       Help Pay for Healthcare    101-02        Emergency Cash
..          ...                           ...       ...                   ...
285   111-01-07              Workplace Rights    111-01  Advocacy & Legal Aid
286      111-02                     Mediation       111                 Legal
287      111-03                        Notary       111                 Legal
288      111-04                Representation       111                 Legal
289      111-05  Translation & Interpretation       111                 Legal

[290 rows x 4 columns]

In [ ]:
df1.fillna(method="ffill")

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_12576\1589204803.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df1.fillna(method="ffill")

    taxonomy_id                          name parent_id           parent_name
0           101                     Emergency       NaN                   NaN
1        101-01             Disaster Response       101             Emergency
2        101-02                Emergency Cash       101             Emergency
3     101-02-01             Help Pay for Food    101-02        Emergency Cash
4     101-02-02       Help Pay for Healthcare    101-02        Emergency Cash
..          ...                           ...       ...                   ...
285   111-01-07              Workplace Rights    111-01  Advocacy & Legal Aid
286      111-02                     Mediation       111                 Legal
287      111-03                        Notary       111                 Legal
288      111-04                Representation       111                 Legal
289      111-05  Translation & Interpretation       111                 Legal

[290 rows x 4 columns]

In [ ]:
df.mean()

TypeError: Could not convert ['malefemalefemalefemalemalemalemalemalefemalefemalefemalefemalemalemalefemalefemalemalemalefemalefemalemalemalefemalemalefemalefemalemalemalefemalemalemalefemalefemalemalemalemalemalemalefemalefemalefemalefemalemalefemalefemalemalemalefemalemalefemalemalemalefemalefemalemalemalefemalemalefemalemalemalefemalemalemalemalemalefemalemalefemalemalemalefemalemalemalemalemalemalemalemalefemalemalemalefemalemalefemalefemalemalemalefemalemalemalemalemalemalemalemalemalemalefemalemalefemalemalemalemalemalemalefemalemalemalefemalemalefemalemalefemalefemalemalemalemalemalefemalemalemalemalefemalemalemalemalemalefemalemalemalemalefemalefemalemalemalefemalemalemalemalefemalefemalefemalemalemalemalemalefemalemalemalemalefemalemalemalemalemalefemalemalemalemalemalefemalemalemalemalemalefemalefemalemalemalemalemalefemalemalemalemalemalefemalemalemalefemalemalemalemalefemalemalefemalemalemalemalefemalemalefemalemalefemalefemalemalemalefemalefemalemalemalemalemalemalefemalemalemalefemalemalemalefemalemalemalemalefemalefemalemalefemalemalemalemalemalemalemalemalemalemalemalefemalefemalemalemalefemalemalefemalemalefemalemalemalefemalefemalemalemalemalemalefemalefemalemalemalemalefemalemalemalefemalefemalefemalefemalefemalefemalemalemalemalemalefemalemalemalemalefemalefemalemalemalefemalemalefemalefemalefemalemalemalefemalemalemalemalemalemalemalemalemalemalefemalefemalefemalemalefemalemalemalemalefemalemalefemalefemalemalemalefemalemalemalefemalefemalemalefemalefemalefemalefemalemalemalefemalefemalemalefemalefemalemalemalefemalefemalemalefemalemalefemalefemalefemalefemalemalemalemalefemalemalemalefemalemalemalemalefemalemalemalemalefemalefemalefemalemalemalemalemalemalemalemalemalefemalefemalefemalefemalemalemalefemalemalemalemalefemalefemalefemalefemalemalemalemalemalefemalefemalefemalemalemalemalefemalefemalemalefemalemalemalemalefemalemalefemalemalemalemalefemalefemalemalefemalemalemalefemalemalemalefemalemalefemalemalemalemalemalefemalemalemalefemalemalemalefemalefemalefemalemalefemalemalemalemalefemalemalemalefemalefemalemalemalemalefemalefemalemalemalefemalefemalefemalemalemalefemalemalemalefemalemalemalefemalemalefemalemalemalemalemalemalemalemalemalefemalefemalemalemalemalemalemalemalemalemalemalemalefemalemalemalefemalefemalefemalemalemalemalemalefemalemalemalemalefemalemalefemalefemalemalemalemalemalemalemalemalemalemalefemalemalefemalemalemalefemalefemalefemalefemalemalefemalemalemalemalemalemalemalefemalemalemalefemalemalefemalemalefemalemalemalefemalemalemalefemalemalemalemalefemalemalemalefemalefemalefemalemalefemalemalefemalefemalefemalefemalemalemalemalefemalemalemalemalemalemalemalemalefemalemalefemalemalefemalefemalemalemalemalemalefemalemalemalefemalemalemalemalefemalemalefemalemalemalefemalefemalefemalemalefemalefemalemalemalemalefemalemalemalemalemalemalefemalemalefemalemalemalefemalemalemalemalefemalemalemalemalemalemalemalemalefemalefemalefemalemalefemalemalemalefemalemalefemalefemalemalemalemalemalemalemalemalemalefemalemalemalemalemalemalemalefemalefemalemalemalefemalemalemalefemalefemalemalefemalemalemalemalemalefemalemalefemalemalefemalefemalemalemalefemalemalemalemalemalemalemalemalemalemalemalemalefemalefemalemalemalemalemalemalemalefemalefemalemalefemalemalemalemalemalemalemalemalemalefemalemalefemalemalemalemalemalemalefemalemalemalefemalemalefemalemalemalemalefemalemalefemalemalefemalemalemalemalemalemalefemalefemalemalemalefemalemalemalemalemalemalefemalefemalemalefemalefemalemalemalemalemalemalefemalemalemalemalemalemalefemalemalemalemalemalefemalemalemalefemalemalemalemalefemalemalemalemalemalefemalemalemalemalefemalemalefemalemalefemalemalemalemalemalefemalemalefemalemalemalefemalemalefemalefemalefemalemalemalemalemalefemalemalemalemalemalemalefemalemalemalemalefemalefemalemalefemalemalefemalemalemalemalemalemalefemalemalefemalemalemalemalefemalemalemalefemalemalemalemalefemalemalemalefemalemalemalemalemalemalefemalefemalemalemalemalemalefemalemalemalemalemalemalemalefemalemalemalemalemalemalemalefemalemalemalefemalefemalefemalefemalefemalemalefemalemalemalemalefemalefemalemalefemalefemalemalemalemalemalefemalemalemalefemalefemalemalemalemalefemalefemalemalefemalemalemalefemalemalefemalefemalemalemale'] to numeric

In [ ]:
df.Age.mean()

np.float64(29.69911764705882)

In [ ]:
df['Survived']==1

Name
Braund, Mr. Owen Harris                                False
Cumings, Mrs. John Bradley (Florence Briggs Thayer)     True
Heikkinen, Miss Laina                                   True
Futrelle, Mrs. Jacques Heath (Lily May Peel)            True
Allen, Mr. William Henry                               False
                                                       ...
Montvila, Rev. Juozas                                  False
Graham, Miss Margaret Edith                             True
Johnston, Miss Catherine Helen "Carrie"                False
Behr, Mr. Karl Howell                                   True
Dooley, Mr. Patrick                                    False
Name: Survived, Length: 891, dtype: bool

In [ ]:
df[df['Survived']==1]['Fare'].mean()

np.float64(48.39540760233918)

In [ ]:
df.groupby('Survived')['Fare'].mean(numeric_only=True)

Survived
0    22.117887
1    48.395408
Name: Fare, dtype: float64

In [ ]:
import numpy as np

In [76]:
df.groupby('Survived')['Fare'].agg(['mean', 'median', 'std', 'count'])

KeyError: 'Survived'

In [77]:
import pandas as pd
import numpy as np

# Create a test dataframe
test_df = pd.DataFrame({
    'Survived': [0, 1, 0, 1, 0, 1, 0, 1],
    'Fare': [7.25, 71.28, 7.92, 53.10, 8.05, 8.46, 51.86, 21.08]
})

# Test the same operation
result = test_df.groupby('Survived')['Fare'].agg(['mean', 'median', 'std', 'count'])
print(result)

           mean  median        std  count
Survived
0         18.77   7.985  22.062785      4
1         38.48  37.090  28.830220      4

In [78]:
df.groupby(['Sex','Pclass'])['Survived'].sum()

KeyError: 'Sex'

In [79]:
import pandas as pd
df=pd.read_csv("https://raw.githubusercontent.com/pandas-dev/pandas/master/doc/data/titanic.csv",header=None)

In [81]:
df

,0,1,2,3,4,5,6,7,8,9,10,11
0,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.25,NaN,S
2,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,71.2833,C85,C
3,3,1,3,"Heikkinen, Miss Laina",female,26,0,0,STON/O2. 3101282,7.925,NaN,S
4,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1,C123,S
...,...,...,...,...,...,...,...,...,...,...,...,...
887,887,0,2,"Montvila, Rev. Juozas",male,27,0,0,211536,13,NaN,S
888,888,1,1,"Graham, Miss Margaret Edith",female,19,0,0,112053,30,B42,S
889,889,0,3,"Johnston, Miss Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
890,890,1,1,"Behr, Mr. Karl Howell",male,26,0,0,111369,30,C148,C
891,891,0,3,"Dooley, Mr. Patrick",male,32,0,0,370376,7.75,NaN,Q

In [86]:
import numpy as np
df.groupby(['Pclass','Sex'])['Survived'].sum()

KeyError: 'Pclass'

In [87]:
# Multiple statistics
df.groupby(['Pclass', 'Sex'])['Survived'].agg(['sum', 'mean', 'count'])

# With custom names
df.groupby(['Pclass', 'Sex'])['Survived'].agg(
    total_survived='sum',
    survival_rate='mean',
    total_passengers='count'
)

KeyError: 'Pclass'